body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  color: #333;

  header ~ * {
    padding: 10px;
  }
}
.welcome-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 50px;
}
.welcome-image{
  width: 350px;
  margin-left: 70%;
  margin-top: -220px;
}
div.question-card {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  margin-left: 50px;
  margin-bottom: 20px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  transition: box-shadow 0.3s ease;
  max-width: 80%;
}
.openModal{
  cursor: pointer;
  background-color: #333;
}
.question-card:hover {
  box-shadow: 0 8px 12px rgba(0,0,0,0.15); 
}

.question-card-title {
  font-size: 32px;
  margin-bottom: 10px; 
}

.question-card-vote {
  display: flex;
  align-items: center;
}

.add-question{
  border: #266995;
  padding: 20px;
  border-radius: 8px;
  height: 60px;
  margin-top: -5%;
  align-items: right;
  margin-left: 65%;
  width: 140px;
}

form {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

input[type="text"], textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  background-color: #2e5bbd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
#openModal {
  background-color: #c0ceeb;
  border: #2e5bbd 2px solid;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: cursive;
  margin-left:10% ;
  padding: 20px 50px;
  height: 94px;
  width: 242px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(144, 124, 124, 0.1); 
  transition: background-color 0.2s;

}

button:hover {
  background-color: #385382;
}
#sortQuestions{
  margin-left: 62px;
  position: absolute;
  margin-top: 40px;
  height: 40px;
  width: 160px;

}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 40%;
  height: 60%;

  h2 {
    text-align: center;
  }

}

.ask_question-div{
  background-color: rgb(172, 198, 220);
  border-radius: 25px;
  width: 80%;
  height: 80%;
  margin-left: 10%;

  form {
    padding-top: 10%;
    border-radius: 8px;
    margin-top: 20px;
  }
  label {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  .input1 {
    width: 95%;
    height: 35px;
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  textarea{
    width: 95%;
    height: 150px;
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  button{
    background-color: #2e5bbd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 39%;
    transition: background-color 0.2s;
  }
}

.close {
  color: #1d6891;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.home-view-top{
  display: flex;
  flex-direction: column;
}
.upvote-group.active, .downvote-group.active {
  background-color: #2e5bbd;
  color: rgb(14, 44, 154);
}

.upvote-group:hover,
.downvote-group:hover {
  background-color: #2b43bb;
}

.upvote-group a, .downvote-group a {
  text-decoration: none;
  color: inherit;
  }

.search-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  height: 30px;
  justify-content: space-around;

input {
  width: 50% !important;
  height: 35px;
  margin-left: 20%;
}
button{
  margin-left: -17%;
  height: 35px;
}
}

.question-interaction-comp {
  display: flex;
  gap: 25px;
}

.addquestion_button{
  margin-left: 50px;
  margin-top: -10px;
  width: 200px;
  height: 60px;
  padding: 10px;
  background-color: #313a4f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.pen{
  width: 40px;
  margin-top: 5px;
  margin-left: -65px;
  position: absolute;
}
